/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f43a;
    color: #000000;
}

/* Navbar */
nav {
    background-color: #8383830;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #000000;
}

.navbar .logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: #00bcd4;
}

/* Hero Section */
#hero {
    background: #06ac00 ;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-content .btn {
    padding: 12px 30px;
    background-color: #06ac00;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}

.hero-content .btn:hover {
    background-color: #06ac00;
}

/* Section General */
.section {
    padding: 60px 0;
    background-color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

/* Skills List */
.skills-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-size: 1.2rem;
}

.skills-list li {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.section .container .para {
    margin-left: 150px;
}

/* Project Cards */
.project-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.project-card p {
    color: #666;
    font-size: 1.1rem;
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    max-width: 600px;
}

form button {
    padding: 12px 30px;
    background-color:#06ac00;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #06ac00;
}

/* Footer */
footer {
    background-color:#06ac00;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
